<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/jobs1.css' %}">

</head>
<body>
   <div class="container">
       <div class="jumbotron">
           <h1>Welcome To SakshiJobs</h1>
           <p>Continuous Jobs Updates For Every Hour.....</p>
           <a class="btn btn-primary btn-lg" href="hydjobs/">HyderabadJobs</a>&nbsp&nbsp&nbsp
           <a class="btn btn-danger btn-lg" href="punejobs/">PuneJobs</a>&nbsp&nbsp&nbsp
           <a class="btn btn-success btn-lg" href="bangjobs/">BangloreJobs</a>&nbsp&nbsp&nbsp
       </div>

   </div>

</body>
</html>